/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%section.subpage
  .wrap
    .b_box
      %aside
        %ul.b_menu_aside
          %li.active
            %a{:href => ""} О компании
          %li
            %a{:href => ""} Новости
          %li
            %a{:href => ""} Сотрудничество
          %li
            %a{:href => ""} Вакансии
      %article.b_text
        %h2.blue О компании
        %p Компания «Максет Лайн» является разработчиком программного и аппаратного обеспечения телекоммуникационных систем.
        %p Ключевая компетенция компании – разработка и внедрение инновационных решений в области оптических и беспроводных сетей передачи данных.
        %p Сотрудники компании – это высококвалифицированные инженеры-технологи, программисты, научные сотрудники, которые обладают многолетним уникальным опытом разработки системных решений, а также опытные менеджеры по коммерциализации телекоммуникационного оборудования и услуг с хорошим знанием отрасли телекома, что обуславливает высокий научный и коммерческий потенциал нашей компании.
        %p Цель компании – создание IT-решений, оптимально отвечающих технологическим потребностям наших клиентов и направленных на повышение эффективности их бизнеса для достижения отраслевого стратегического лидерства
        .b_logos.horizontal>
          %a{:href => ""}>
            %img{:src => "i/logo4.png", :alt => ""}>
          %a{:href => ""}>
            %img{:src => "i/logo5.png", :alt => ""}>
          %a{:href => ""}>
            %img{:src => "i/logo6.png", :alt => ""}>
      .clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'