@import "less/reset.less";
@import "less/mixins.less";
@import "less/fonts.less";

/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  PFDinTextCondPro-Medium

*/

.arial() {
  font:16px/1.2 Arial, sans-serif;
}
.pf() {
  font:20px/1.2 'PFDinTextCondPro-Medium', sans-serif;
}
.icons() {
  background: url('i/img.png') no-repeat top left;
}
.icon1() {
  background-position:0 0;
  height:48px;
  width:210px;
}
.icon2() {
  background-position:0 -48px;
  width:860px;
  height:42px;
}
.icon3() {
  background-position:0 -90px;
  width:860px;
  height:42px;
}

body {
  .arial();
  .wrap {
    width:940px;
    margin:0 auto;
  }
}

header {
  background:#fff;
  padding:12px 0;
  .box-shadow(0px 5px 5px rgba(0, 0, 0, 0.14));
  position:relative;
  z-index:400;
}

footer {
  background:#252c31;
  color:#dae3e9;
  .pf();
  font-size:14px;
  padding:30px 0px;
  p {
    margin-bottom:14px;
  }
}

section.main {
  background:#f7f7f7;
  padding:35px 0;
}

section.subpage {
  background: #eaeaea url('i/pattern.png') repeat top left;
  padding:64px 0;
}

.b_logo {
  .icons();
  .icon1();
  float:left;
}

.b_menu {
  float:right;
  margin:10px 0 0 0;
  li {
    float:left;
    margin:0 0 0 42px;
    .pf();
    a {
      color:#313131;
      text-decoration:none;
      &:hover {
        color:#237b98;
      }
    }
    &.active a {
      color:#237b98;
    }
  }
}

.b_big-image {
  position:relative;
  background: url(i/bg.jpg) center center no-repeat;
  height:575px;
  z-index:300;
  background-size:cover;
  /*img {
    display:block;
    width:100%;
  }*/
  .wrap {
    position:absolute;
    top:0px;
    left:50%;
    margin:160px 0 0 -470px;
    color:#fff;
    text-align:center;
    .pf();
    h1 {
      font-size:72px;
    }
    h2 {
      font-size:48px;
    }
  }
}

.b_submenu {
  background:#e5e5e5;
  border:1px solid #fff;
  margin:0 0 40px;
  .border-radius(10px);
  .box-shadow(inset 0px 0px 4px rgba(0, 0, 0, 0.2));
  li {
    width:33.3%;
    float:left;
    text-align:center;
    .pf();
    font-size:30px;
    line-height:68px;
    a {
      text-decoration:none;
      color:#313131;
      &.active {
        .vertical(#3093c7, #1c5b86);
        .border-radius(10px);
        color:#fff;
        padding:7px 40px;
      }
    }
  }
}

.b_text {
  margin:0 80px;
  padding:30px 0 25px;
  a {
    color:#237b98;
    &:hover {
      text-decoration:none;
    }
  }
  h2 {
    .pf();
    font-size:36px;
    margin-bottom:25px;
    &.blue {
      color:#237b98;
    }
  }
  h3 {
    .pf();
    font-size:24px;
    margin-bottom:25px;
  }
  img {
    &.flr {
      float:right;
      margin:0 0 10px 20px;
    }
    &.fll {
      float:left;
      margin:0 20px 10px 0;
    }
    &.mr0 {
      margin-right:-30px;
    }
    &.center {
      margin:0 auto 10px;
      display:block;
    }
  }
  p {
    margin-bottom:10px;
  }
  big {
    font-size:24px;
  }
  strong {
    font-weight:bold;
  }
  .big_mb {
    margin-bottom:25px;
  }
  &.hide {
    display:none;
  }
}

.b_box {
  background:#fff;
  .border-radius(10px);
  .box-shadow(0px 8px 8px rgba(0, 0, 0, 0.14));
  aside {
    width:210px;
    float:left;
  }
  article {
    margin-left:210px;
    border:1px solid #f5f5f5;
    border-width:0 0 0 1px;
    padding:20px 0 20px 25px;
    margin-right:30px;
  }
}

.b_logos {
  float:right;
  width:260px;
  &.horizontal {
    width:100%;
    float:none;
    vertical-align:middle;
    white-space:nowrap;
    img {
      display:inline-block;
    }
  }
  img {
    display:block;
    margin:0 auto;
  }
}

.b_menu_aside {
  .b_menu;
  float:none;
  margin:88px 0 0 36px;
  li {
    display:block;
    float:none;
    margin:0;
    font-size:24px;
  }
}

.b_news {
  margin-bottom:40px;
  h3 {
    margin-bottom:10px;
    a {
      color:#000;
      text-decoration:none;
      &:hover {
        color:#237b98;
      }
    }
  }
  p.date {
    color:#b4b4b4;
  }
}

.b_paginate {
  font-size:18px;
  li {
    float:left;
    &.active {
      background:#2980b1;
      color:#fff;
      padding:0px 6px;
      margin:0 3px;
    }
    a {
      text-decoration:none;
      color:#000;
      padding:0px 6px;
      &:hover {
        color:#237b98;
      }
    }
  }
}

.b_contacts {
  h3 {
    font-size:30px;
    width:50%;
    float:left;
    &.rig {
      margin:18px 0 0 15%;
      width:35%;
    }
  }
}

.b_map {
  margin:0 -40px;
  background: url('i/pattern1.png') repeat;
  .map {
    display:block;
    margin:0 auto;
  }
  i.shadow {
    .icons();
    display:block;
    &.top_shadow {.icon2();margin-bottom:20px;}
    &.bottom_shadow {.icon3();margin-top:20px;}
  }
}






