/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%section.subpage
  .wrap
    .b_box
      .b_text
        %h2.blue Сотрудничество
        .b_logos
          %a{:href => ""}
            %img{:src => "i/logo1.png", :alt => ""}
          %a{:href => ""}
            %img{:src => "i/logo2.png", :alt => ""}
          %a{:href => ""}
            %img{:src => "i/logo3.png", :alt => ""}
        %p Компания приглашает к партнерству и сотрудничеству организации, занимающиеся операторской деятельностью, предоставлением ИТ-услуг и сервисов, производящие телекоммуникационное оборудование для совместной работы по внедрению технологий оптических и беспроводных сетей доступа, а также решений по автоматизации класса «Умный дом» на территории РФ и стран СНГ.
        %p Мы будем рады сотрудничеству и надеемся, что его результатом станет решение задач информатизации общества и повышения качества жизни населения страны!
        %p.big_mb Свяжитесь с нами, если вы заинтересованы в партнерстве:
        %h2 
          +7 495 788-92-82
          %br sales@maxet-line.ru

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'