/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%section.subpage
  .wrap
    .b_box
      %aside
        %ul.b_menu_aside
          %li.active
            %a{:href => ""} О компании
          %li
            %a{:href => ""} Новости
          %li
            %a{:href => ""} Сотрудничество
          %li
            %a{:href => ""} Вакансии
      %article.b_text
        %h2.blue Новости
        .b_news
          %h3
            %a{:href => ""} Компания «Максет Лайн» приняла участие в третьей всероссийской конференции «Практика внедрения технологий пассивных оптических сетей в России»
          %p.date 4 апреля 2013
          %p 8-9 февраля 2012 г. в столичном отеле «Холидей ИНН Симоновский» состоялась третья всероссийская конференция «Практика внедрения технологий пассивных оптических сетей в России», организованная Центром профессиональных знаний «КОННЕКТИОН» при поддержке Министерства связи и массовых коммуникаций России.
          %p Впервые в конференции принял участие Диди Иванковски – Основатель и Вице-президент компании BroadLight. Он обозначил основные тренды и тенденции развития широкополосного доступа в проекции на российский рынок. Технический директор ООО «Максет Лайн» А. Ламин обозначил преимущества и перспективы рынка мультивендорных систем GPON.
          %p Е.Попов, руководитель направления решения для операторов связи компании «3М Россия» рассказал о решениях компании 3М для строительства пассивных оптических сетей FTTH/PON. Также были охвачены вопросы развития сетей PON в районах индивидуальной и малоэтажной жилой застройки, которые осветил в своем докладе Е.Гаскевич, Директор по развитию ЗАО «Тералинк».
          %p В конференции также участвовали крупнейшие операторы связи (ОАО «МГТС», ОАО «Ростелеком» и др.), которые делились наработанным опытом в части использования технологии GPON. В конференции приняли участие также представители таких компаний как Corning, НТЦ «Комсет», ОАО «Интеллект Телеком», Tyco Electronics.
          %p Важнейшие аспекты построения пассивных оптических сетей были затронуты в докладах научных организаций (ЛО ЦНИИС, МТУСИ и др.).
        .b_news
          %h3
            %a{:href => ""} Компания «Максет Лайн» приняла участие в третьей всероссийской конференции «Практика внедрения технологий пассивных оптических сетей в России»
          %p.date 4 апреля 2013
          %p 8-9 февраля 2012 г. в столичном отеле «Холидей ИНН Симоновский» состоялась третья всероссийская конференция «Практика внедрения технологий пассивных оптических сетей в России», организованная Центром профессиональных знаний «КОННЕКТИОН» при поддержке Министерства связи и массовых коммуникаций России.
          %p Впервые в конференции принял участие Диди Иванковски – Основатель и Вице-президент компании BroadLight. Он обозначил основные тренды и тенденции развития широкополосного доступа в проекции на российский рынок. Технический директор ООО «Максет Лайн» А. Ламин обозначил преимущества и перспективы рынка мультивендорных систем GPON.
          %p Е.Попов, руководитель направления решения для операторов связи компании «3М Россия» рассказал о решениях компании 3М для строительства пассивных оптических сетей FTTH/PON. Также были охвачены вопросы развития сетей PON в районах индивидуальной и малоэтажной жилой застройки, которые осветил в своем докладе Е.Гаскевич, Директор по развитию ЗАО «Тералинк».
          %p В конференции также участвовали крупнейшие операторы связи (ОАО «МГТС», ОАО «Ростелеком» и др.), которые делились наработанным опытом в части использования технологии GPON. В конференции приняли участие также представители таких компаний как Corning, НТЦ «Комсет», ОАО «Интеллект Телеком», Tyco Electronics.
          %p Важнейшие аспекты построения пассивных оптических сетей были затронуты в докладах научных организаций (ЛО ЦНИИС, МТУСИ и др.).
        %ul.b_paginate
          %li.active
            1
          %li
            %a{:href => ""} 2
          %li
            %a{:href => ""} 3
          %li
            %a{:href => ""} 4
          %li
            %a{:href => ""} 5
        .clear
      .clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'