/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%section.subpage
  .wrap
    .b_box
      .b_text.b_contacts
        %h2.blue Контакты
        %h3 143025, Московская область, Технопарк «Сколково», ул. Новая, д.100
        %h3.rig
          +7 495 788-92-82
          %br sales@maxet-line.ru
        .clear
        .b_map
          %i.shadow.top_shadow
          %img.map{:src => "i/map.png", :alt => ""}
          %i.shadow.bottom_shadow

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'