/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%section.b_big-image
  /%img{:src => "i/bg.jpg", :alt => ""}
  .wrap
    %h1 Максет Лайн
    %h2 высокотехнологичные решения

%section.main
  .wrap
    %ul.b_submenu
      %li
        %a.active{:href => "", :rel => 1} Телеметрия
      %li
        %a{:href => "", :rel => 2} Телемедицина
      %li
        %a{:href => "", :rel => 3} Умный дом
      %li
        %a{:href => "", :rel => 4} Медиа сервисы
      %li
        %a{:href => "", :rel => 5} Видеонаблюдение
      %li
        %a{:href => "", :rel => 6} Контроль доступа
      .clear
    .b_text{:rel => 1}
      %img.flr{:src => "http://placekitten.com/408/327", :alt => ""}
      %h3 Телеметрия
      %p.big_mb Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.
      %p
        %big
          %a{:href => ""} Подробнее
      .clear
    .b_text.hide{:rel => 2}
      %img.flr{:src => "http://placekitten.com/408/327", :alt => ""}
      %h3 Телемедицина
      %p.big_mb Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.
      %p
        %big
          %a{:href => ""} Подробнее
      .clear
    .b_text.hide{:rel => 3}
      %img.flr{:src => "http://placekitten.com/408/327", :alt => ""}
      %h3 Умный дом
      %p.big_mb Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.
      %p
        %big
          %a{:href => ""} Подробнее
      .clear
    .b_text.hide{:rel => 4}
      %img.flr{:src => "http://placekitten.com/408/327", :alt => ""}
      %h3 Медиа сервисы
      %p.big_mb Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.
      %p
        %big
          %a{:href => ""} Подробнее
      .clear
    .b_text.hide{:rel => 5}
      %img.flr{:src => "http://placekitten.com/408/327", :alt => ""}
      %h3 Видеонаблюдение
      %p.big_mb Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.
      %p
        %big
          %a{:href => ""} Подробнее
      .clear
    .b_text.hide{:rel => 6}
      %img.flr{:src => "http://placekitten.com/408/327", :alt => ""}
      %h3 Контроль доступа
      %p.big_mb Текст, рассказывающий о проектах компании в этой сфере. Текст иллюстрирует элитарный миракль, однако само по себе состояние игры всегда амбивалентно. Идея (пафос), так или иначе, просветляет невротический комплекс агрессивности, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. Ритм готично имитирует композиционный онтологический статус искусства, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.
      %p
        %big
          %a{:href => ""} Подробнее
      .clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'