/ @include 'kit/head.kit'
/ @include 'kit/header.kit'

%section.subpage
  .wrap
    .b_box
      %aside
        %ul.b_menu_aside
          %li.active
            %a{:href => ""} Видеонаблюдение
          %li
            %a{:href => ""} Медиа сервисы
          %li
            %a{:href => ""} Контроль доступа
          %li
            %a{:href => ""} Телемедицина
          %li
            %a{:href => ""} Телеметрия
          %li
            %a{:href => ""} Умный дом
      %article.b_text
        %h2.blue Видеонаблюдение
        %img.flr.mr0{:src => "http://placekitten.com/204/327", :alt => ""}
        %p.big_mb Сотрудники компании – это высококвалифицированные инженеры-технологи, программисты, научные сотрудники, которые обладают многолетним уникальным опытом разработки системных решений, а также опытные менеджеры по коммерциализации телекоммуникационного оборудования и услуг с хорошим знанием отрасли телекома, что обуславливает высокий научный и коммерческий потенциал нашей компании. Компания приглашает к партнерству и сотрудничеству организации, занимающиеся операторской деятельностью, предоставлением ИТ-услуг и сервисов, производящие телекоммуникационное оборудование для совместной работы по внедрению технологий оптических и беспроводных сетей доступа, а также решений по автоматизации класса «Умный дом» на территории РФ и стран СНГ.
        %p
          %strong Характеристики:
        %p – первая;
        %p – вторая;
        %p – the third.
        %img.center{:src => "http://placekitten.com/631/408", :alt => ""}
      .clear

/ @include 'kit/footer.kit'
/ @include 'kit/foot.kit'