%header
  .wrap
    %a.logo.b_logo{:href => ""}
    %ul.b_menu
      %li.active
        %a{:href => ""} Компания
      %li
        %a{:href => ""} Продукты
      %li
        %a{:href => ""} Сотрудничество
      %li
        %a{:href => ""} Контакты
    .clear